{% extends "base.html" %} {% block content %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/error.css') }}"
/>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<body>
    <div class="error-container">
        <h1 class="error-text">Oh NO!</h1>
        <h3 class="error-text">
            It's likely that your image has no object detected
        </h3>
        <img
            class="error-text"
            src="../static/assets/error.png"
            alt=""
            width="360"
        />
        <h2 class="error-text">No sweat, just pick another one!</h2>
    </div>
</body>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}
